@model Loja.Application.ViewModels.PedidoViewModelCadastro

@{
    ViewData["Title"] = "Create";
    var clientes = new SelectList(Model.Clientes, "ID", "Nome", Model.Clientes.Select(x => x.ID));
}

<h1>Create</h1>
<form asp-action="Create" asp-controller="Pedido">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <span asp-validation-for="ClienteDoPedido" class="text-danger"></span>
    <select asp-for="ClienteDoPedido" class="col-md-12 form-control" asp-items="@clientes">
        <option value="" disabled selected>Clientes</option>
    </select>
    <br />
    <br />
    <span asp-validation-for="IdProdutosDoPedido" class="text-danger"></span>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Descrição
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Quantidade disponivel
                </th>
                <th>
                    Quantidade Solicitada
                </th>
                <th>
                    Selecionar
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Produtos)
            {
                <tr class="Produtos">
                    <td>
                        @item.Descricao
                    </td>
                    <td>
                        @item.ValorDeVenda
                    </td>
                    <td>
                        @item.Quantidade
                    </td>
                    <td class="input">
                        @{
                            int? quantidadeEscolhida = null;
                            for (int i = 0; i < Model.IdProdutosDoPedido?.Length; i++)
                            {
                                if (Model.IdProdutosDoPedido?[i] == item.ID)
                                {
                                    quantidadeEscolhida = Model.QuantidadeDoPedido[i];
                                }
                            }
                            if (Model.IdProdutosDoPedido?.Length > 0)
                            {
                                <input id="input_@item.ID" name="QuantidadeDoPedido" type="number" value="@quantidadeEscolhida" onchange="ValidarProdutoSelecionado(@item.Quantidade, 'input_@item.ID', 'chek_@item.ID')" />
                            }
                            else
                            {
                                <input id="input_@item.ID" name="QuantidadeDoPedido" type="number" onchange="ValidarProdutoSelecionado(@item.Quantidade, 'input_@item.ID', 'chek_@item.ID')" />
                            }
                        }
                    </td>
                    <td class="chek">
                        <input id="chek_@item.ID" name="IdProdutosDoPedido" value="@item.ID" type="checkbox" onchange="ValidarProdutoSelecionado(@item.Quantidade, 'input_@item.ID', 'chek_@item.ID')" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <input type="submit" value="Enviar" class="btn btn-primary" id="enviarPedido" onclick=" return ValidarEnvio();" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/ValidarPedido.js"></script>
}

